<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d65c571-0d4e-43ae-ae22-726f5b678a61" Alias="Bonds-Commodities" Level="3">
  <Info>
    <Parent Key="ef3f132a-f312-4923-aef0-cb8ba07c3a8c">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:46:01</CreateDate>
    <NodeName Default="Bonds-Commodities" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5441a5d4-5384-4c44-a3f9-202134e06dc9">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "711bb293-18b7-4c51-886a-dcdf1f1a8a73",
    "mediaKey": "555c44c1-3696-4bd8-be7a-5acc1afcaa5f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>