<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ad4cf69-ef13-46db-a17b-4b75342498b4" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a13328fc-f080-4f9f-a2cb-e7a0cb6026e5">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-16T18:02:33</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3f33418-64ca-4949-9aa5-c85e8d35c5bd">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>