<?xml version="1.0" encoding="utf-8"?>
<Content Key="88af2645-5db5-4713-8177-b0a01ba70656" Alias="Financial-Aadvisor" Level="3">
  <Info>
    <Parent Key="ef3f132a-f312-4923-aef0-cb8ba07c3a8c">Services</Parent>
    <Path>/Onatrix/Services/FinancialAadvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:47:16</CreateDate>
    <NodeName Default="Financial-Aadvisor" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5441a5d4-5384-4c44-a3f9-202134e06dc9">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "eb323511-b88a-479b-a6ea-206656529bf1",
    "mediaKey": "8f476c42-b3a8-40bf-9b2b-f34aa1c2ba20",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>