<?xml version="1.0" encoding="utf-8"?>
<Content Key="a13328fc-f080-4f9f-a2cb-e7a0cb6026e5" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-14T20:59:43</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17d54bc9-45e4-48a3-ab7e-3393dee36516">HomePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "75693511-6b30-4a67-8aaa-4a59646354f5",
      "udi": null,
      "key": "d4a1fcbe-123b-4ff5-835c-eaad50af680f",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "heroTitle",
          "value": "We bring success to you"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "heroText",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E\\u003Cspan style=\\u0022white-space: pre-wrap;\\u0022\\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\\u003C/span\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "heroLink",
          "value": "[{\u0022name\u0022:\u0022Contact Us\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/1ad4cf69ef1346dba17b4b75342498b4\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "heroBgImage",
          "value": "[{\u0022key\u0022:\u00226875acab-19cd-4d84-a303-94a7bfc22b13\u0022,\u0022mediaKey\u0022:\u00227534e4fb-6dc5-4e8b-b59f-404038ad4157\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "1be9ce28-9bc0-40ef-96cc-cf226d2972a5",
      "udi": null,
      "key": "618be6d3-1f43-42f6-8c6d-7b4afce08807",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "serviceLabel",
          "value": "OUR SERVICES"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "serviceTitle",
          "value": "{\u0022markup\u0022:\u0022\\u003Ch3 style=\\u0022text-align: center;\\u0022\\u003E\\u003Cspan style=\\u0022white-space: pre-wrap;\\u0022\\u003EWe Provide The Solutions \\u003C/span\\u003E\\u003Cbr\\u003E\\u003Cspan style=\\u0022white-space: pre-wrap;\\u0022\\u003ETo Grow Your Business Faster\\u003C/span\\u003E\\u003C/h3\\u003E\\u003Cp\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "08aa6e6e-e39f-4119-bffb-9f5e88729ff1",
      "udi": null,
      "key": "dc6e09fd-e7e0-4df3-b458-44ab9a7dfa0e",
      "values": [
        {
          "editorAlias": "Umbraco.ColorPicker",
          "culture": null,
          "segment": null,
          "alias": "serviceBgColor",
          "value": "{\r\n  \u0022label\u0022: \u0022White-100\u0022,\r\n  \u0022value\u0022: \u0022#f7f7f7\u0022\r\n}"
        },
        {
          "editorAlias": "Umbraco.TrueFalse",
          "culture": null,
          "segment": null,
          "alias": "showServiceLabel",
          "value": 1
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d4a1fcbe-123b-4ff5-835c-eaad50af680f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "618be6d3-1f43-42f6-8c6d-7b4afce08807",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "d4a1fcbe-123b-4ff5-835c-eaad50af680f",
        "settingsKey": null
      },
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "618be6d3-1f43-42f6-8c6d-7b4afce08807",
        "settingsKey": "dc6e09fd-e7e0-4df3-b458-44ab9a7dfa0e"
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>