<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef3f132a-f312-4923-aef0-cb8ba07c3a8c" Alias="Services" Level="2">
  <Info>
    <Parent Key="a13328fc-f080-4f9f-a2cb-e7a0cb6026e5">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-16T20:09:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="693919cb-5e72-4cf7-9732-5f6592d73455">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1be9ce28-9bc0-40ef-96cc-cf226d2972a5",
      "udi": null,
      "key": "8512d735-2382-49d6-8ed2-2c0a33fbf70a",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "serviceLabel",
          "value": "Our Services"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "serviceTitle",
          "value": "{\u0022markup\u0022:\u0022\\u003Ch3 style=\\u0022text-align: center;\\u0022\\u003E\\u003Cstrong\\u003E\\u003Cspan style=\\u0022white-space: pre-wrap;\\u0022\\u003EWe Provide The Solutions \\u003C/span\\u003E\\u003Cbr\\u003E\\u003Cspan style=\\u0022white-space: pre-wrap;\\u0022\\u003ETo Grow Your Business Faster\\u003C/span\\u003E\\u003C/strong\\u003E\\u003C/h3\\u003E\\u003Cp style=\\u0022text-align: center;\\u0022\\u003E\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "08aa6e6e-e39f-4119-bffb-9f5e88729ff1",
      "udi": null,
      "key": "4fa914fd-33af-4155-8ce1-48f3d31c04c4",
      "values": [
        {
          "editorAlias": "Umbraco.ColorPicker",
          "culture": null,
          "segment": null,
          "alias": "serviceBgColor",
          "value": "{\r\n  \u0022label\u0022: \u0022White\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
        },
        {
          "editorAlias": "Umbraco.TrueFalse",
          "culture": null,
          "segment": null,
          "alias": "showServiceLabel",
          "value": 0
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8512d735-2382-49d6-8ed2-2c0a33fbf70a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "8512d735-2382-49d6-8ed2-2c0a33fbf70a",
        "settingsKey": "4fa914fd-33af-4155-8ce1-48f3d31c04c4"
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>