<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1379fb3-41dc-4ae3-8911-da965f863b60" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-30T16:19:11</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "29f28c77-242c-4cbf-b2d7-cb1ef19c383e",
      "udi": null,
      "key": "e8122830-a1a7-47a0-b0be-71240ad4ea56",
      "values": [
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "platformName",
          "value": "[\u0022Facebook\u0022]"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "platformAccountUrl",
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "29f28c77-242c-4cbf-b2d7-cb1ef19c383e",
      "udi": null,
      "key": "63ef9f52-5717-49f6-bd2f-fc5e982df99f",
      "values": [
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "platformName",
          "value": "[\u0022Linkedin\u0022]"
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "platformAccountUrl",
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e8122830-a1a7-47a0-b0be-71240ad4ea56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "63ef9f52-5717-49f6-bd2f-fc5e982df99f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "e8122830-a1a7-47a0-b0be-71240ad4ea56",
        "settingsKey": null
      },
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "63ef9f52-5717-49f6-bd2f-fc5e982df99f",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "5be627d7-c914-4a1a-82b4-5745ef9f9bb5",
    "mediaKey": "85c666c1-96b3-4ddd-9d3e-3585617b2088",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>