<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b6bc850-b890-4af5-a43c-5c24c9ee6264" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="ef3f132a-f312-4923-aef0-cb8ba07c3a8c">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:29:09</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5441a5d4-5384-4c44-a3f9-202134e06dc9">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "44dea158-bb53-4e30-b155-16723f9f4762",
    "mediaKey": "6be17bbf-5826-4b81-8313-df904ea980ed",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>