<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b99200c-bbf6-4114-9b9a-6095edd3adbd" Alias="Tax-Trusts " Level="3">
  <Info>
    <Parent Key="ef3f132a-f312-4923-aef0-cb8ba07c3a8c">Services</Parent>
    <Path>/Onatrix/Services/TaxTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:46:32</CreateDate>
    <NodeName Default="Tax-Trusts " />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5441a5d4-5384-4c44-a3f9-202134e06dc9">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "36d78e5a-30a3-4ee5-98a3-411ce6404440",
    "mediaKey": "2c6941f5-7172-4620-b6e2-fdce03adaa00",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>