<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42d755c5-fd09-423e-822f-50f9abfb422b" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home Page for website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="8e02b62f-7562-475f-a431-4c35f714998b">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17d54bc9-45e4-48a3-ab7e-3393dee36516">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b57433ac-29ac-4e9f-ad72-e1930ae01220" SortOrder="0">contactPage</ContentType>
    <ContentType Key="b7b554e9-925a-4aa6-b5ca-c5cf03f5c179" SortOrder="1">servicePage</ContentType>
    <ContentType Key="265edf01-ed68-4779-bac6-17fbbbe3c070" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a93eaa02-1788-4daf-9235-940d7e8981bf</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>bf99b325-e945-4db4-b4ac-0eeae338cc6e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f482f10-88cf-4bf9-92e1-62bf195edfea</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>