<?xml version="1.0" encoding="utf-8"?>
<Media Key="7032ec93-f862-4db5-bfa8-5fdbf15f0df6" Alias="Aaron.svg" Level="2">
  <Info>
    <Parent Key="45e76d97-5fcc-48ff-87f8-c34278a1cd00">Team Members</Parent>
    <Path>/TeamMembers/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:33:54</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfijbetz/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>