<?xml version="1.0" encoding="utf-8"?>
<Media Key="b53e68fc-0434-4ce5-b255-45b8cd7b760e" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="fba2c5e1-9686-4e28-85e1-ef6da77c8791">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:33:44</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b1kjyvzp/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>