<?xml version="1.0" encoding="utf-8"?>
<Media Key="555c44c1-3696-4bd8-be7a-5acc1afcaa5f" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="fba2c5e1-9686-4e28-85e1-ef6da77c8791">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:33:44</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gp2p3n2n/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>