<?xml version="1.0" encoding="utf-8"?>
<Media Key="85c666c1-96b3-4ddd-9d3e-3585617b2088" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-30T16:04:39</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gpnhiz3i/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>