<?xml version="1.0" encoding="utf-8"?>
<Media Key="3490f360-5b0c-400c-8472-2431f78fee99" Alias="Brandonkerr.svg" Level="2">
  <Info>
    <Parent Key="45e76d97-5fcc-48ff-87f8-c34278a1cd00">Team Members</Parent>
    <Path>/TeamMembers/Brandonkerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:33:54</CreateDate>
    <NodeName Default="Brandonkerr.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sjhdfvqx/brandonkerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>