<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f476c42-b3a8-40bf-9b2b-f34aa1c2ba20" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="fba2c5e1-9686-4e28-85e1-ef6da77c8791">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:33:44</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wdipk1nt/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>