<?xml version="1.0" encoding="utf-8"?>
<Media Key="7534e4fb-6dc5-4e8b-b59f-404038ad4157" Alias="Homepage bilden.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomepageBildensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:59:34</CreateDate>
    <NodeName Default="Homepage bilden.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bfmjnf44/homepage-bilden.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>