<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0b76d97-29ee-44f9-a3d2-a0b99779c5dd" Alias="Kevin.svg" Level="2">
  <Info>
    <Parent Key="45e76d97-5fcc-48ff-87f8-c34278a1cd00">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:33:54</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxibkuxv/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>