<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2aa56cb-eff2-42cb-bda2-6d4f36704616" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="45e76d97-5fcc-48ff-87f8-c34278a1cd00">Team Members</Parent>
    <Path>/TeamMembers/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:33:54</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhvbqqhj/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>