<?xml version="1.0" encoding="utf-8"?>
<Media Key="c55eaed2-7213-4e3c-a226-f84fedba8339" Alias="RiskManagment.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T18:56:41</CreateDate>
    <NodeName Default="RiskManagment.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eajpyjyi/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>