<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e761b6c-60b3-418b-8371-d80e9c76cead" Alias="Risk-Managment.svg" Level="2">
  <Info>
    <Parent Key="fba2c5e1-9686-4e28-85e1-ef6da77c8791">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:33:44</CreateDate>
    <NodeName Default="Risk-Managment.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t0tnjxfi/risk-managment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>