<?xml version="1.0" encoding="utf-8"?>
<Media Key="6be17bbf-5826-4b81-8313-df904ea980ed" Alias="Statistic-Advisor.svg" Level="2">
  <Info>
    <Parent Key="fba2c5e1-9686-4e28-85e1-ef6da77c8791">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:33:44</CreateDate>
    <NodeName Default="Statistic-Advisor.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jxdehcj3/statistic-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>