<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dca9138-cf91-4061-8804-ff5c39d8a440" Alias="Tina.svg" Level="2">
  <Info>
    <Parent Key="45e76d97-5fcc-48ff-87f8-c34278a1cd00">Team Members</Parent>
    <Path>/TeamMembers/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:33:54</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ziwgrp2k/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>