<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf99b325-e945-4db4-b4ac-0eeae338cc6e" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "75693511-6b30-4a67-8aaa-4a59646354f5",
      "backgroundColor": "#00000021",
      "iconColor": "#00000000"
    },
    {
      "contentElementTypeKey": "1be9ce28-9bc0-40ef-96cc-cf226d2972a5",
      "settingsElementTypeKey": "08aa6e6e-e39f-4119-bffb-9f5e88729ff1"
    },
    {
      "contentElementTypeKey": "d26d7e94-77e4-4652-aea4-fdc3afcb4d5a"
    }
  ]
}]]></Config>
</DataType>