<?xml version="1.0" encoding="utf-8"?>
<DataType Key="531afbdf-810d-403b-98db-4f4d3a610175" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "29f28c77-242c-4cbf-b2d7-cb1ef19c383e",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>