<?xml version="1.0" encoding="utf-8"?>
<DataType Key="991e5358-ff07-4899-a7d2-041cde684768" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6cd2da5d-ef2e-4eac-a867-99dc924db3c3",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>